.navbar {
  background-color: #0054a0 !important;
  color: white !important;
}

.first-header {
  background-color: #0054a0 !important;
  color: black;
  height: 38px !important;
}

.title {
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

.titlePadding {
  padding-right: 25px;
}

.after-title {
  margin-top: 50px;
  text-align: center;
  color: #0054a0 !important;
}

li:hover {
  color: black !important;
}

.dark-blue {
  background-color: #0da2d4;
}

.main-blue {
  background-color: #0054a0;
}

.oprah-img {
  margin: auto;
  display: block;
  padding-top: 20px;
}

.after-oprah {
  margin: 2.5rem auto;
}

.in3 {
  color: #0054a0;
  font-weight: bolder;
  font-size: 16px;
}

.prefooter {
  text-align: center !important;
  color: white;
  background: #333333;
}

.links {
  margin-top: 1.4rem;
}

.linksTitle {
  text-decoration: underline;
  text-transform: uppercase;
  font-stretch: 2;
}

#footer {
  margin-top: 50px;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}